<div class="container">
  <div class="col-sm-10">
    <input type="text" class="form-control" ng-model="busca">
  </div>

  <div class="col-sm-2">
    <button class="btn btn-primary" ng-click="buscarPorNome()">Buscar</button>
  </div>
</div>

<div class="d-flex flex-row col-sm-12">
  <div ng-click="go('/' + item.id)" class="meu-parceiro col-sm-3" ng-repeat="item in personagens">
    <div class="panel panel-default">
      <div class="panel-heading text-center">{{item.name}}</div>
    </div>

    <div class="panel-body">
      <img class="card-img-top" src="{{item.thumbnail.path + '.' + item.thumbnail.extension}}" alt="Card image cap">
    </div>
  </div>
</div>
